.col-md-4.col-sm-4
  %ul
    %li
      %i{ class: (property.living ? 'fa fa-check' : 'fa fa-times' ) }
      Living
    %li
      %i{ class: (property.living_dining ? 'fa fa-check' : 'fa fa-times' ) }
      Living Comedor
    %li
      %i{ class: (property.dining ? 'fa fa-check' : 'fa fa-times' ) }
      Comedor
    %li
      %i{ class: (property.lounge ? 'fa fa-check' : 'fa fa-times' ) }
      Estar
    %li
      %i{ class: (property.desk ? 'fa fa-check' : 'fa fa-times' ) }
      Escritorio
    %li
      %i{ class: (property.kitchen ? 'fa fa-check' : 'fa fa-times' ) }
      Cocina
    %li
      %i{ class: (property.kitchenette ? 'fa fa-check' : 'fa fa-times' ) }
      Kitchenette
    %li
      %i.fa.fa-times
      Cot
.col-md-4.col-sm-4
  %ul
    %li
      %i.fa.fa-check
      Internet
    %li
      %i.fa.fa-times
      Iron
    %li
      %i.fa.fa-check
      Juicer
    %li
      %i.fa.fa-times
      Lift
    %li
      %i.fa.fa-times
      Microwave
    %li
      %i.fa.fa-check
      Oven
    %li
      %i.fa.fa-times
      Parking
    %li
      %i.fa.fa-times
      Parquet
.col-md-4.col-sm-4
  %ul
    %li
      %i.fa.fa-times
      Radio
    %li
      %i.fa.fa-check
      Roof terrace
    %li
      %i.fa.fa-times
      Smoking allowed
    %li
      %i.fa.fa-check
      Terrace
    %li
      %i.fa.fa-times
      Toaster
    %li
      %i.fa.fa-check
      Towelwes
    %li
      %i.fa.fa-check
      Use of pool
    %li
      %i.fa.fa-check
      Video
