%section.wrapper-xs.bg-highlight.search
  .container
    .row
      .col-sm-12
        = render partial: 'shared/search'

- if @properties.length > 0
  - @properties.each_with_index do |p, i|
    - if i % 2 == 0
      %section.wrapper-md.list
        = render partial: 'property', :locals => { :property => p }
    -else
      %section.wrapper-md.list.background-gray
        = render partial: 'property', :locals => { :property => p }
- else
  .no-results

