.row
  .col-md-12
    / Carousel
    #slider-property.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#slider-property"}
        %li{"data-slide-to" => "1", "data-target" => "#slider-property"}
        %li{"data-slide-to" => "2", "data-target" => "#slider-property"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          = image_tag(@property.photo_url, :height => '100')
          .carousel-caption
            %h3 Caption Text
        - @property.photos.each do |photo|
          .item
            = image_tag(photo.url, :height => '100')
            .carousel-caption
              %h3 Caption Text
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#slider-property", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#slider-property", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right
