%footer.footer-container
  %section.footer-primary
    .container
      .row
        .col-sm-6.col-md-3
          %h3 Footer Component
          %p Choose from our favourite tags:
          %ul.tags
            %li
              %a{:href => "#link"} design
            %li
              %a{:href => "#link"} layout
            %li
              %a{:href => "#link"} stack
            %li
              %a{:href => "#link"} PSD
            %li
              %a{:href => "#link"} bootstrap
            %li
              %a{:href => "#link"} menu
            %li
              %a{:href => "#link"} type
            %li
              %a{:href => "#link"} paper
            %li
              %a{:href => "#link"} press
        .col-sm-6.col-md-3
          %h3 Image Stream List
          %p View our latest stills in Flicker:
          %ul.img-stream
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
            %li
              %a{:href => "#link"}
                %img.media-object{:alt => "img", "data-src" => "holder.js/55x55"}/
        .col-sm-6.col-md-3
          %h3 Hyperlinks List
          %p Contact us whenever you want:
          %ul.list-unstyled
            %li
              %i.fa.fa-angle-right
              %a{:href => "#link"} 9am-6pm ET Mon-Fri
            %li
              %i.fa.fa-angle-right
              %a{:href => "#link"} US (877) 977-8732
            %li
              %i.fa.fa-angle-right
              %a{:href => "#link"} International +1 646 490 1679
        .col-sm-6.col-md-3
          %h3 Social Media List
          %p Stick to the social media hype:
          %ul.social-networks
            %li
              %a.btn.btn-twitter{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn.btn-facebook{:href => "#"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn.btn-google-plus{:href => "#"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn.btn-pinterest{:href => "#"}
                %i.fa.fa-fw.fa-pinterest
          %p We are friendly. Give us a ding!
  %section.footer-secondary
    .container
      .row
        .col-lg-12
          %p.no-margin-bottom
            All Rights Reserved ® Designed by
            %a{:href => "http://twitter.com/graphikaria", :target => "_blank"} @Graphikaria