.header {
  border-top: 4px solid #FF8819 !important;
  border-bottom: none !important;
  margin-bottom: 12px;
}

.phone {
  text-align: right;
  font-weight: bold;
}

.numbers {
  margin-top: 10px;
  font-size: 19px;
  color: #FF8819;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.active-button {
  background-color: #fff;
  border-bottom: 2px solid #FF8819 !important;
}

.navbar-default .navbar-nav > li > a {
  -webkit-transition : border-color 1000ms ease-out; 
  -moz-transition : border-color 1000ms ease-out;
  -o-transition : border-color 1000ms ease-out;
  -ms-transition : border-color 1000ms ease-out;
  background-color: #fff;
  border-bottom: 2px solid white;
  padding-bottom: 6.5px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #fff;
  border-bottom: 2px solid #FF8819;
}

.navbar-nav > li {
  margin-right: 5px; 
  margin-left: 5px;
}

.btn-primary {
  color: #fff !important;
  text-shadow: 0 -1px 0 #FF8819 !important;
  font-weight: normal !important;
}

.bootstrap-select .btn:focus {
  outline: none !important
}

.btn-group {
  background-color: #FF8819; 
}

.form-control {
  box-shadow: none !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  outline: none !important;
}

.list {
  padding-bottom: 0px;
}

.background-gray {
  background: #e8e8e8;
}

.no-results {
  height: 400px;
}

.search {
  padding-bottom: 35px;
  padding-top: 17px;
}

.resize-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  height: 100% !important;
  max-width: none !important;
}

.overlay-container {
  height: 220px;
}

.contact_text {
  background-color: #FF8819; 
}

.contact_text h1 {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contact_inputs {
  padding: 100px 10%; 
}

.contact_input {
  margin-bottom: 15px;
}

.contact_input input, .contact_input textarea {
  background-color: white; 
  border: none;
  padding: 10px 14px;
}

.contact_input input:focus, .contact_input textarea:focus {
  -webkit-transition : border-color 0ms ease-out; 
  -moz-transition : border-color 0ms ease-out;
  -o-transition : border-color 0ms ease-out;
  -ms-transition : border-color 0ms ease-out;
  border: 3px solid #FF8819;
}

.contact_input input {
  height: 50px;
} 

li.selected a {
  background-color: #FF8819;
  color: white;
}

.button {
  background-color: #FF8819;
}

.contact_button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

#slider-property.carousel img {
  width: auto;
  height: 400px;
  max-height: 400px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .numbers {
    display:none;
  }
}

@media (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px; 
  }
}

/*.navbar-collapse.in {
  overflow-y: hidden !important;
}*/